#menu {
      list-style-type: none;
      background-color: #361EFF;
      margin: 0px;
      padding: 0px;
      width: 35%;
}

a{
  text-decoration: none;
  color: black;
}

ul{
  border: 1px solid #555;
}

li{
  text-align: center;
  border-bottom: 1px solid #555;
}

li:last-child {
  border-bottom: none;
}
li:hover {
  background-color: #5574FF;
}
