#container
{
  position: relative;
  margin: 0 auto;
  text-align: center;
}

#header
{
  height: 70px;
  width: 900px;
  background-color: grey;
  margin-bottom: 10px;
}

#leftmenu{
  height: 500px;
  width: 295px;
  background-color: grey;
  float: left;
  margin-right: 10px;
}

#maincontent
{
  height: 500px;
  width: 595px;
  background-color: grey;
  float: left;
}

div.clear
{
  clear: both;;
}

#footer
{
  width: 900px;
  height: 30px;
  background-color: purple;
  margin-top: 10px;
}
